:host {
    display: block;
    padding: 2rem;
    min-height: 100vh;
}

h1 {
    margin-bottom: 2rem;
    color: #0f172a;
}

.incident-grid {
    display: grid;
    gap: 1rem;
    max-height: 70dvh;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: #94a3b8 transparent;
}


.empty-state {
    text-align: center;
    padding: 3rem;
    border-radius: 16px;
    background: white;
    color: #64748b;
}

.selected-banner {
    padding: 16px;
    border: 1px solid rgb(83, 191, 253);
    background-color: rgb(182, 228, 255);
    border-radius: 8px;
    color: #0f172a;
    font-weight: bold;
}